{% load rest_framework %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Сокращатель ссылок</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>
<body>
<div class="container" style="margin-top:30px">
    <div class="col-md-12">
        <div class="modal-dialog" style="margin-bottom:0">
            <div class="modal-content">
                <div class="panel-heading">
                    <h3 class="panel-title">Создание короткой ссылки</h3>
                </div>
                <div class="panel-body">
                    <form role="form" id="link-form">
                        <fieldset>
                            {% csrf_token %}
                            {% render_form link_serializer %}
                            <button type="submit" class="btn btn-sm btn-success">Создать</button>
                        </fieldset>
                    </form>
                    <br id="after-form">
                    <label for="shorted-link">Результат</label>
                    <input type="text" class="form-control" id="shorted-link">
                </div>
            </div>
        </div>
    </div>
    <hr>
</div>

<script>
    function insertAfter(referenceNode, newNode) {
        referenceNode.parentNode.insertBefore(newNode, referenceNode.nextSibling);
    }

    window.addEventListener("load", function () {
        function removeAlert(){
            const old_alert = document.getElementById("link-status");
            if (old_alert !== null) {
                old_alert.remove();
            }
        }

        function doAlert(jsonResponse = null){
            removeAlert();
            const alert = document.createElement("div");
            alert.classList.add("alert");
            alert.classList.add("alert-danger");
            alert.innerHTML = "<b>Что-то пошло не так</b>";
            if (jsonResponse !== null) {
                for(const key in jsonResponse){
                    alert.innerHTML += "<br>" + key + ": " + jsonResponse[key]
                }
            }
            alert.setAttribute("id", "link-status")
            insertAfter(document.getElementById("after-form"), alert);
        }

        function sendData() {
            const XHR = new XMLHttpRequest();
            const FD = new FormData(form);

            XHR.addEventListener("load", function (event) {
                const jsonResponse = JSON.parse(event.target.response);
                if (jsonResponse.hasOwnProperty("short_url")) {
                    removeAlert();
                    document.getElementById("shorted-link").value = jsonResponse["short_url"];
                }
                else {
                    doAlert(jsonResponse)
                }
            });

            XHR.addEventListener("error", function (event) {
                doAlert();
            });

            XHR.open("POST", "{% url 'make_link' %}");

            XHR.send(FD);

        }

        const form = document.getElementById("link-form");

        form.addEventListener("submit", function (event) {
            event.preventDefault();

            sendData();
        });
    });
</script>

</body>
</html>